a {
   text-decoration: none;
}

img.img_height {
   height: 300px;
}


.flex {
   display: flex;
}



.aside {
   font-size: 28px;
   padding-left: 40px;
   padding-right: 40px;
}

.aside li {
   line-height: 1.6;
   list-style: none;
}



.main {
   font-size: 24px;
   padding-bottom: 30px;
}

.main h1 {
   font-size: 54px;
   text-align: center;
}

.main h2 {
   font-size: 46px;
}

.semantic_elements {
   height: 300px;
}

.main h3 {
   font-size: 36px;
}



.footer {
   padding: 30px 0px 30px 300px;
   border-top: 1px solid;
}